
  <div class="container-fluid"></div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">XPO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngSwitch]="menuType" class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul *ngSwitchCase="'default'" class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page"   routerLink=""  href="#">Home</a>
            </li>         
            <div style="margin-left:1200px">
              <button class="btn btn-outline-primary" routerLink="user-auth" id="dropdownBasic1" >Login</button>
              
            </div>
          </ul>
          <ul *ngSwitchCase="'user'" class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page"   routerLink="user-dashboard"  href="#">Custom Package</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="service" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="contact" href="#">Contact Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"routerLink="req"   href="#">Request Status</a>
            </li>
            <div ngbDropdown style="margin-left:500px">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>My Account</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a>
                  <button  routerLink="editprofile"ngbDropdownItem>Edit Profile</button>
                </a>
                <a>
                  <button (click)="handler()" routerLink="user-auth" ngbDropdownItem>LogOut</button>
                </a>
             
              </div>
            </div>
          </ul>
          <ul *ngSwitchCase="'admin'" class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link"  routerLink="admin-Dashboard"  href="#">DashBoard</a>
            </li>
            <li class="nav-item">
              <a (click)="handler()" class="nav-link"  routerLink=" "  href="#">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
<router-outlet></router-outlet>